* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #131313;
}

body {
    display: flex;
    font-family: Magz;
    flex-direction: column; /* Change to column direction to align items vertically */
    align-items: center;
    min-height: 100vh;
    background-color: #131313;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    height: 200px;
    padding: 30px 0 20px;
}

.options {
    width: min(70vw,100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    height: 100px;
    padding: 30px 0 20px;
}

.bottom {
    width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
    background-color: #3dff00;
    height: 50px;
    color: black;
}

/* Style for the dropdown menu button */
.dropdown {
    position: relative;
    display: inline-block;
}

.menu-left .dropbtn {
    background-color: transparent;
    color: #3dff00;
    font-size: 21px;
    padding: 10px;
    border: 1px solid #3dff00;
    border-radius: 5px;
    cursor: pointer;
}

.menu-left .dropbtn:hover {
    background-color: #3dff00;
    color: black;
    border: 1px solid black;
}

.menu-left .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    top: 45px;
}

.menu-left .dropdown-content a {
    color: #3dff00;
    font-size: 20px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-left .dropdown-content a:hover {
    background-color: #3dff00;
    color: black;
}

.menu-left .dropdown:hover .dropdown-content {
    display: block;
}

/* Style for the home button on the right side */
.menu-right .home-button {
    background-color: transparent;
    font-size: 21px;
    color: #3dff00;
    padding: 10px;
    border: 1px solid #3dff00;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.menu-right .home-button:hover {
    background-color: #3dff00;
    color: black;
    border: 1px solid black;
}

.menu .categories {
    background-color: transparent;
    font-size: 21px;
    color: #3dff00;
    margin-right: 8px;
    margin-left: 8px;
    padding: 8px;
    cursor: pointer;
    text-decoration: none;
}

.menu .categories:hover {
    background-color: #3dff00;
    color: black;
}

.title {
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: min(65vw,35px);
    color: #fff;
}

/* Add styles for your logo */
.logo img {
    width: min(40vw, 420px);
    height: auto;
    animation: changeLogo 4s infinite; /* Logo change animation */
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    transform-style: preserve-3d;
    animation: fadeIn 3s ease-in-out;
}

.container .box {
    position: relative;
    width: min(70vw, 280px);
    height: 400px;
    margin: 30px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
}

.container .prodbox {
    position: relative;
    width: min(70vw, 120px);
    height: min(70vw,180px);
    margin: 10px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
}

.container .box::before {
    content: 'DRPD';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 5em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .prodbox::before {
    content: 'DRPD';
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box::after {
    content: 'DRPD';
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 5em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .prodbox::after {
    content: 'DRPD';
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 2em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box:hover::before,
.container .box:hover::after {
    opacity: 0.04;
}

.container .prodbox:hover::before,
.container .prodbox:hover::after {
    opacity: 0.04;
}

.container .box .name {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.container .prodbox .name {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 15px;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,40px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.container .box:hover .name
{
    top: 40px;
    opacity: 1;
}

.container .prodbox:hover .name
{
    top: 10px;
    opacity: 1;
}

.container .box .buy
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform:translate3d(-50%,0,75px);
    color: #000;
    background: #3dff00;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.container .box:hover .buy
{
    bottom: 30px;
    opacity: 1;
}

.container .box .circle
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: min(65vw,200px);
    height: min(65vw,200px);
    border-radius: 50%;
    transition: 0.5s;
    background: #3dff00;
    transform-style: preserve-3d;
    z-index: 10;
    opacity: 1;
    transform: translate3d(-50%,-50%,50px);
}

.container .prodbox .circle
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: min(65vw,90px);
    height: min(65vw,90px);
    border-radius: 50%;
    transition: 0.5s;
    background: #3dff00;
    transform-style: preserve-3d;
    z-index: 10;
    opacity: 1;
    transform: translate3d(-50%,-50%,25px);
}

.container .box .product
{
    position: absolute;
    top: 50%;
    left: 50%; 
    max-width: 300px;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,50px) rotate(15deg);
}

.container .prodbox .product
{
    position: absolute;
    top: 50%;
    left: 50%; 
    max-width: 140px;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,32px) rotate(15deg);
}

.container .box:hover .product
{
    transform: translate3d(-50%,-50%,100px) rotate(360deg);
}

.container .prodbox:hover .product
{
    transform: translate3d(-50%,-50%,80px) rotate(0deg);
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes changeLogo {
    0%, 10% {
        content: url('img/logo1.png');
    }
    10%, 20% {
        content: url('img/logo.png');
    }
    20%, 40% {
        content: url('img/logo1.png');
    }
    40%, 100% {
        content: url('img/logo.png');
    }
}

@font-face {
    font-family: Magz;
    src: url("fonts/Magz.otf") format("opentype");
}

@font-face {
    font-family: Magz;
    font-weight: bold;
    src: url("fonts/Magz.otf") format("opentype");
}

@font-face {
    font-family: Magz;
    font-weight: italic;
    src: url("fonts/Magz.otf") format("opentype");
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    left: 1%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
  /* Style the icon bar links */
.icon-bar a {
    display: block;
    text-align: center;
    padding: 13px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 5px;
    color: #3dff00;
    font-size: min(50vw, 20px);
    border: 1px solid #3dff00;
    border-radius: 20px;
}
  
  /* Style the social media icons with color, if you want */
.icon-bar a:hover {
    background-color: #3dff00;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
}

.top-bar {
    position: fixed;
    right: 1%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
  /* Style the icon bar links */
.top-bar a {
    display: block;
    text-align: center;
    padding: 13px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 5px;
    color: #3dff00;
    font-size: min(50vw, 20px);
    border: 1px solid #3dff00;
    border-radius: 20px;
}
  
  /* Style the social media icons with color, if you want */
.top-bar a:hover {
    background-color: #3dff00;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
}

:root { scroll-behavior: smooth; }